form {
    margin-left: auto;
    margin-right: auto;
}


.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;

    background-image: url("library3.avif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 1200px;
    width: 1800px;
    margin: 0 auto;
    flex-direction: column;
    gap: 150px;
    position: absolute;
}

button {
    height: 100px;
    width: 300px;
    display: block;
    border-radius: 50px;
    font-size: 30px;
    background-color: firebrick;
    box-shadow: 10px 5px 5px #0b0b0b;
    background-image: linear-gradient(to left, rgba(181, 78, 78, 0.87), #320202);
    font-family: "Times New Roman";
    font-style: italic;
    border: #000000;
}

.child {
    position: fixed;
    top: 50px; /* Отступ сверху */
    left: 50px; /* Отступ слева */
    width: 200px; /* Ширина элемента */
}


