<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="buttons-container">
        <form method="GET" action="people">
            <button type="submit" class="btn-primary">Люди</button>
        </form>
        <form method="GET" action="books" class="button">
            <button type="submit" class="btn-secondary">Книги</button>
        </form>
</div>
</body>
</html>